<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="pckg_29_09_2025.ResponceCode_1"/>
      <class name="pckg_29_09_2025.Response_2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
